{%extends 'base.html.twig' %}

{% block title %}my cart{% endblock %}

{% block stylesheets %}

    <style>
        {# tablet view     #}
        @media (min-width: 768px){

            body {
                max-width: 778px;
            }
            #container {

                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 50% 50%;



            }
            @media (min-width: 1024px){

                body {
                    max-width: 1200px;
                }

                #container {

                    display: grid;
                    grid-template-columns: 20% 20% 20% 20% 20%;
                    grid-template-rows: 20% 20% 20% 20% 20%;

    </style>
{% endblock %}
{% block body %}

    {{ include('product/_navigationMenu.html.twig') }}
    {#<div id="container">  #}
    <div id="mare" class="row">
        {% for productId, value1 in cart %}
            <div id= "mic"  class="col-sm-3">

                {% for key2, value2 in cart[productId] %}

                    {% if key2=="photoA"%}
                        <img style="width: 200px; height: 250px" src="/uploads/{{ cart[productId]["photoA"] }}" class="card-img-top" alt="...">
                    {%endif%}

                    <div class="card" style="width: 300px; height: 150px; position:relative">

                        <div class="card-body" >
                            <p class="card-text">{{ key2 }}</p>
                            <p class="card-text">{{ value2 }}</p>

                        </div>
                    </div>
                    {#     </div>  #}
                {% endfor %}

                <a style="position: absolute; left: 50px; bottom: 2px;" href="{{ path('removecart',{'productId':productId}) }}" class="btn btn-secondary btn-sm">sterge din favorite</a>
            </div>
        {% endfor %}
    </div>



{%endblock%}
