{#{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}#}
  
{#{% block title %}Register{% endblock %}#}
{% block body %}
     
   <div class="row">
       <div class="col-6 offset-3">
           <div class="card bg-light">
               <div class="card-body">
                   <h1 class="text-center">Adauga produs</h1>
                   {{ form_start(form) }}
                       {{ form_row(form.productTitle) }}
                       {{ form_row(form.productDescription) }}
                       <div id ='img'>
                       {{ form_row(form.photoA,{
                        attr: {
                            'placeholder': 'Selecteaza o imagine'
                            
                                }
                                }
) }}
                       </div>
                       
                       {{ form_row(form.photoB,{
                        attr: {
                            'placeholder': 'Selecteaza o imagine'
                            
                                }
                                }) }}
                       {{ form_row(form.photoC,{
                        attr: {
                            'placeholder': 'Selecteaza o imagine'
                            
                                }
                                }) }}
                       {{ form_row(form.photoD,{
                        attr: {
                            'placeholder': 'Selecteaza o imagine'
                            
                                }
                                }) }}
                       {{ form_row(form.photoE,{
                        attr: {
                            'placeholder': 'Selecteaza o imagine'
                            
                                }
                                }) }}
                       {{ form_row(form.photoF,{
                        attr: {
                            'placeholder': 'Selecteaza o imagine'
                            
                                }
                                }) }}
                       {{ form_row(form.category) }}
                       {{ form_row(form.pretPornire) }}
                       {{ form_row(form.dataStop) }}
                       <button class="btn btn-primary btn-block">salvare</button>
                   {{ form_end(form) }}
               </div>
           </div>
       </div>
   </div>
{% endblock %}
{% block javascripts %}
    
     {% endblock %}