{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Produse scoase la licitatie </h1>

    
        {% for product in products %}
            <div id ="container">    
        <div id="productTitle"> {{ product.productTitle }} </div>        
        <div id="photoA"><img style="max-width: 200px" src="/uploads/{{ product.photoA }}"</div>      
        <div id="productDescription">  {{ product.productDescription }}</div>
                
                     
                
           </div>     
                    <a href="{{ path('product_show', {'productId': product.productId}) }}">show</a>
                    <a href="{{ path('product_edit', {'productId': product.productId}) }}">edit</a>
               
        {% else %}
            
            <div colspan="12">no records found</div>
            
        {% endfor %}
       
    

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
