{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block stylesheets %}

  <style>
{# tablet view     #}
       @media (min-width: 768px){
	
	body {
		max-width: 778px;
	}
         #container {
    
       display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        
   
        
}
@media (min-width: 1024px){
	
	body {
		max-width: 1200px;
	}
        
    #container {
    
       display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;    
 
    </style>
        {% endblock %}

{% block body %}
 <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  
   {{ include('product/_navigationMenu.html.twig') }}
    

    <h1>Produse scoase la licitatie </h1>

    {{message}}
     <div id ="container">  
        {% for product in products %}
       
      {# <div>
          
            <div id="productTitle"> Produs: {{ product.productTitle }} </div>
            
                 <img style="max-width: 200px" src="/uploads/{{ product.photoA }}"> 
         
                             <div id="productDescription"> Descriere:  {{ product.productDescription }}</div>
                                <div id="ultimulPretLicitat">  Ultimul Pret Licitat: {{ product.ultimulPretLicitat }}</div>
                                
         <a href="{{ path('product_show', {'productId': product.productId}) }}">Arata detalii / Liciteaza</a>                    
                           
       </div>  #}
   <div class="card" style="width: 200px; height: 500px; position:relative">
   
         <h5 class="card-title"> {{ product.productTitle }}</h5>
  <img style="width: 200px; height: 250px" src="/uploads/{{ product.photoA }}" class="card-img-top" alt="...">
  <div class="card-body">
    
    {#<p class="card-text">{{ product.productDescription }}</p>#}
   <hr>
   <p class="card-text">Pret Licitat: <div id="container{{product.productId}}"></div> {#{{ product.ultimulPretLicitat }}#}</p>
    {#<div id="container1"> ultim pret Licitat</div>#}
    
    <a style="position: absolute; left: 1px; bottom: 20px;" href="{{ path('product_show', {'productId': product.productId}) }}" class="btn btn-secondary btn-sm">Detalii / Liciteaza</a>
    <a style="position: absolute; right: 1px; bottom: 20px;" href="{{ path('addToFavorites', {'productId': product.productId}) }}" class =" btn btn-secondary btn-sm">Favorite</a>
     
  </div>
</div>
       
       
        
        
          
    <script>
    setInterval(function(){
       $.getJSON("/api/{{product.productId}}" , function(data){
           $('#container{{product.productId}}').text(data.ultimulPretLicitat)
       }
       )
    }, 5000)
    
                
                     
                
   </script> 
                   {# <a href="{{ path('product_show', {'productId': product.productId}) }}">show</a>#}
                   {#  {% if is_granted('ROLE_ADMIN') %}   {#{% endif %}#}
{#                    <a href="{{ path('product_edit', {'productId': product.productId}) }}">edit</a>#}
                   {# {% endif%}#}
        {% else %}
            
            <div colspan="12">no records found</div>
            
        {% endfor %}
{#</div>   #} 
    
{#{%if is_granted('ROLE_ADMIN') %} #}
  {#  <a href="{{ path('product_new') }}">Create new</a>#}
{#{%endif%}#}
     </div>
{{ include('product/_footer.html.twig') }}
{% endblock %}


