{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Produse scoase la licitatie </h1>

    {{message}}
        {% for product in products %}
            <div id ="container">    
        <div id="productTitle"> Produs: {{ product.productTitle }} </div>        
        <div id="photoA"><img style="max-width: 100px" src="/uploads/{{ product.photoA }}"</div> 
      
        <div id="productDescription"> Descriere:  {{ product.productDescription }}</div>
        <div id="ultimulPretLicitat">  Ultimul Pret Licitat: {{ product.ultimulPretLicitat }}</div>
                
                     
                
           </div>     
                    <a href="{{ path('product_show', {'productId': product.productId}) }}">show</a>
                     {% if is_granted('ROLE_ADMIN') %}   {#{% endif %}#}
                    <a href="{{ path('product_edit', {'productId': product.productId}) }}">edit</a>
                    {% endif%}
        {% else %}
            
            <div colspan="12">no records found</div>
            
        {% endfor %}
       
    
{%if is_granted('ROLE_ADMIN') %} 
    <a href="{{ path('product_new') }}">Create new</a>
{%endif%}
{% endblock %}
