{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}
{% block stylesheets %}
  <style>
   container {
    
       display: grid;
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
        grid-template-rows: 20% 20% 20% 20% 20%;
}
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
    </style>
        {% endblock %}
    
{% block body %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
{{ include('product/_navigationMenu.html.twig') }}
       
    <div> Titlu: {{ product.productTitle }}</div>
    
   






           
           <div id="container">  
{#                <img style="max-width: 200px" src="/uploads/{{ product.photoA }}">#}
                <a {#target="_blank"#} href="/uploads/{{ product.photoA }}">
                    <img style="max-width: 200px"src="/uploads/{{ product.photoA }}">
                </a>

                {% if product.PhotoB|default(null) %}
{#               <img style="max-width: 200px" src="/uploads/{{ product.photoB }}">#}
                <a {#target="_blank"#} href="/uploads/{{ product.photoB }}">
                    <img style="max-width: 200px"src="/uploads/{{ product.photoB }}">
                </a>
               {%endif%}
                
                 {% if product.PhotoC|default(null) %}
{#                 <img style="max-width: 200px" src="/uploads/{{ product.photoA }}">#}
                <a {#target="_blank"#} href="/uploads/{{ product.photoC }}">
                    <img style="max-width: 200px"src="/uploads/{{ product.photoC }}">
                </a>
                {%endif%}
                 
                  {% if product.PhotoD|default(null) %}
{#                <img style="max-width: 200px" src="/uploads/{{ product.photoD }}">#}
                 <a {#target="_blank"#} href="/uploads/{{ product.photoD }}">
                    <img style="max-width: 200px"src="/uploads/{{ product.photoD }}">
                </a>
                {%endif%}
                  
                   {% if product.PhotoE|default(null) %}
{#                <img style="max-width: 200px" src="/uploads/{{ product.photoE }}">#}
                <a {#target="_blank"#} href="/uploads/{{ product.photoE }}">
                    <img style="max-width: 200px"src="/uploads/{{ product.photoE }}">
                </a>
                {%endif%}
                   
                    {% if product.PhotoF|default(null) %}
{#                <img style="max-width: 200px" src="/uploads/{{ product.photoF }}">#}
                     <a {#target="_blank" #}href="/uploads/{{ product.photoF }}">
                    <img style="max-width: 200px"src="/uploads/{{ product.photoF }}">
                     </a>
                {%endif%}
         </div>       
                 
       {#  <div class="card"style="width: 500px; height: 200px; position:relative">
 
  <div class="container">
    <P>Categorie: {{ product.category }}</P>
    <p>Pret Pornire: {{ product.pretPornire }}</p>
    <p>Data Stop Licitiatie: {{ product.dataStop.format('Y-m-d') }}</p>
    <p>Ultimul pret licitat: {{ product.ultimulPretLicitat }}</p>
  </div>
</div>#}
         
         <div class="card-text">Descriere: {{ product.productDescription }}</div>
            
                <div> Categorie: {{ product.category }}</div>
           
                <div>Pret Pornire: {{ product.pretPornire }}</div>
          
               <div>Data Stop Licitiatie: {{ product.dataStop.format('Y-m-d') }}</div>
          
{#               <div>Ultimul pret licitat: {{ product.ultimulPretLicitat }}</div>#}
                <p >Pret Licitat: <div id="container{{product.productId}}"></div> {#{{ product.ultimulPretLicitat }}#}</p>
         
       
 <form id ="ad_form" method ="POST" action="{{path('addLicitatie', {'productId': product.productId})}}">
{# action="{{path('addLicitatie')}}" ca sa adaugam numele rutei si nu ruta definita la LicitatieController     #}
  <input type="number" min= "1" name ="pretLicitat" id="myInput" placeholder="Pret licitat..." required>
{# name ="pretLicitat" a fost definit in LicitatieController cand luam postul $pretLicitat = $request->request->get('pretLicitat') #}
{#<input type="hidden"  name="productId" value="{{product.getProductId()}}">#}
<span onclick="document.getElementById('ad_form').submit()" class="addBtn">Liciteaza</span>
{#aici e o forma de a nu avea buton- pt ca e greu de stilizat si la sfarsitul unui element
 se pune un span care la onclick face metoda submit()#}

 
{#se pune type hidden - pentru ca prin acest request sa putem lua id produsului din value prin campul name- care va si importat in php#}
{#exista 2 moduri de a trimite Id produsului in controller
1. cu input tipe hidden si avole luat cu $request->request->get('productId')
2. cu action="{{path('addLicitatie', {'productId': product.productId})}} si acolo luat cu $request->request->get('productId')"#}
  </form>    

          
    <a href="{{ path('product_index') }}">back to list</a>
 {% if is_granted('ROLE_ADMIN') %}   
    <a href="{{ path('product_edit', {'productId': product.productId}) }}">edit</a>
{% endif %}
 {% if is_granted('ROLE_ADMIN') %}   
    {{ include('product/_delete_form.html.twig') }}
    {%endif%}
    {{ include('product/_footer.html.twig') }}

    <script>
        setInterval(function(){
            $.getJSON("/api/{{product.productId}}" , function(data){
                    $('#container{{product.productId}}').text(data.ultimulPretLicitat)
                }
            )
        }, 5000)

    </script>
{% endblock %}
