{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}
{% block stylesheets %}
  <style>
   container {
    
       display: grid;
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
        grid-template-rows: 20% 20% 20% 20% 20%;
}
    </style>
        {% endblock %}


{% block body %}
{#    <h1>Product</h1>#}

   {# <table class="table">
        <tbody>
            <tr>
                <th>ProductId</th>#}
               {# <div>{{ product.productId }}</div>#}
            {#</tr>
            <tr>
                <th>UserId</th>#}
                {#<div>{{ product.userId }}</div>#}
           {# </tr>
            <tr>#}
       
    <div> Titlu: {{ product.productTitle }}</div>
           {# </tr>
            <tr>
                <th>ProductDescription</th>#}
           <div id="container">  
                <img style="max-width: 200px" src="/uploads/{{ product.photoA }}">
{#                <div id="photoA"><img style="max-width: 200px" src="/uploads/{{ product.photoA }}"</div> #}
           {# </tr>
            <tr>
                <th>PhotoB</th>#}
                {% if product.PhotoB|default(null) %}
               <img style="max-width: 200px" src="/uploads/{{ product.photoB }}">
               {%endif%}
                
                 {% if product.PhotoC|default(null) %}
                <img style="max-width: 200px" src="/uploads/{{ product.photoC }}">
                {%endif%}
                 
                  {% if product.PhotoD|default(null) %}
                <img style="max-width: 200px" src="/uploads/{{ product.photoD }}">
                {%endif%}
                  
                   {% if product.PhotoE|default(null) %}
                <img style="max-width: 200px" src="/uploads/{{ product.photoE }}">
                {%endif%}
                   
                    {% if product.PhotoF|default(null) %}
                <img style="max-width: 200px" src="/uploads/{{ product.photoF }}">
                {%endif%}
         </div>       
                   
            {#</tr>
            <tr>#}
                {#<th>PhotoC</th>
                <td><div id="photoC"><img style="max-width: 200px" src="/uploads/{{ product.photoC }}"</div></td>
            </tr>
            <tr>
                <th>PhotoD</th>
                <td><div id="photoD"><img style="max-width: 200px" src="/uploads/{{ product.photoD }}"</div></td>
            </tr>
            <tr>
                <th>PhotoE</th>
                <td><div id="photoE"><img style="max-width: 200px" src="/uploads/{{ product.photoE }}"</div></td>
            </tr>
            <tr>
                <th>PhotoF</th>
                <td><div id="photoF"><img style="max-width: 200px" src="/uploads/{{ product.photoF }}"</div></td>
            </tr>#}
            {#<tr>
                <th>Category</th>#}
                <div> Categorie: {{ product.category }}</div>
           {# </tr>
            <tr>#}
              {#  <th>pret pornire</th>#}
                <div>Pret Pornire: {{ product.pretPornire }}</div>
           {# </tr>
            <tr>
                <th>Data stop</th>#}
               <div>Data Stop Licitiatie: {{ product.dataStop.format('Y-m-d') }}</div>
           {# </tr>
             <tr>
                <th>Ultimul pret licitat</th>#}
               <div>Ultimul pret licitat: {{ product.ultimulPretLicitat }}</div>
            {#</tr>
        </tbody>
    </table>#}
       
 <form id ="ad_form" method ="POST" action="{{path('addLicitatie', {'productId': product.productId})}}">
{# action="{{path('addLicitatie')}}" ca sa adaugam numele rutei si nu ruta definita la LicitatieController     #}
  <input type="number" min= "1" name ="pretLicitat" id="myInput" placeholder="Pret licitat..." required>
{# name ="pretLicitat" a fost definit in LicitatieController cand luam postul $pretLicitat = $request->request->get('pretLicitat') #}
{#<input type="hidden"  name="productId" value="{{product.getProductId()}}">#}
<span onclick="document.getElementById('ad_form').submit()" class="addBtn">Liciteaza</span>
{#aici e o forma de a nu avea buton- pt ca e greu de stilizat si la sfarsitul unui element
 se pune un span care la onclick face metoda submit()#}

 
{#se pune type hidden - pentru ca prin acest request sa putem lua id produsului din value prin campul name- care va si importat in php#}
{#exista 2 moduri de a trimite Id produsului in controller
1. cu input tipe hidden si avole luat cu $request->request->get('productId')
2. cu action="{{path('addLicitatie', {'productId': product.productId})}} si acolo luat cu $request->request->get('productId')"#}
  </form>    

          
    <a href="{{ path('product_index') }}">back to list</a>
 {% if is_granted('ROLE_ADMIN') %}   
    <a href="{{ path('product_edit', {'productId': product.productId}) }}">edit</a>
{% endif %}
 {% if is_granted('ROLE_ADMIN') %}   
    {{ include('product/_delete_form.html.twig') }}
    {%endif%}
{% endblock %}
