{% extends 'base.html.twig' %}


{% block title %}Product index{% endblock %}
{% block stylesheets %}

  <style>
{# tablet view     #}
       @media (min-width: 768px){
	
	body {
		max-width: 778px;
	}
         #container1 {
    
       display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        
   
        
}
{#desktop view#}
@media (min-width: 1024px){
	
	body {
		max-width: 1200px;
	}
        
    #container1 {
    
       display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;    
 
    </style>
        {% endblock %}
{% block body %}
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>


  {{ include('product/_navigationMenu.html.twig') }} 
   <h1>Produsele mele </h1>
  <div id="container1">
        {% for product in products %}
            
            <div class="card" style="width: 200px; height: 500px; position:relative">
             <h5 class="card-title"> {{ product.productTitle }}</h5>
                <img style="width: 200px; height: 200px" src="/uploads/{{ product.photoA }}" class="card-img-top" alt="...">
                    <div class="card-body">
    
{#                     <p class="card-text">{{ product.productDescription }}</p>#}
                        <hr>
{#                     <p class="card-text">Ultimul Pret Licitat: {{ product.ultimulPretLicitat }}</p>#}
                        <p class="card-text">Ultimul Pret Licitat: <div id="container{{product.productId}}"></div> {#{{ product.ultimulPretLicitat }}#}</p>
                     <a href="{{ path('product_show', {'productId': product.productId}) }}">Detalii</a>
                   {#  {% if is_granted('ROLE_ADMIN') %}   {#{% endif %}#}
                    <a href="{{ path('product_edit', {'productId': product.productId}) }}">Modifica</a>
                   {# {% if is_granted('ROLE_ADMIN') %}   #}
                   {{ include('product/_delete_form.html.twig') }}
                     {#{%endif%}#}
                  {#  {% endif%}#}
                        <script>
                            setInterval(function(){
                                $.getJSON("/api/{{product.productId}}" , function(data){
                                        $('#container{{product.productId}}').text(data.ultimulPretLicitat+' RON')
                                    }
                                )
                            }, 5000)
                            </script>
            
                    </div>  
            </div>



        {% else %}
            
            <div colspan="12">no records found</div>
            
        {% endfor %}
       
  </div>
{{ include('product/_footer.html.twig') }}
  {#  <a href="{{ path('product_new') }}">Create new</a>#}

{% endblock %}
